@use 'mixins' as *;

%flex {
  display: flex;
}

%hide {
  display: none;
}

%grid {
  display: grid;
}

%block {
  display: block;
}

%image {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

%iconSize {
  width: 1.5rem;
  height: 1.5rem;
}

%circle {
  border-radius: 100px;
}

%clearFormChild {
  border: none;
  outline: none;
}

%bs-none {
  box-shadow: none;
}

%br7 {
  border-radius: 7px;
}

%bold {
  font-weight: 700;
}

%breakPage {
  margin: 2rem 0;
}

%breakTitle {
  margin: 2rem 0 1rem;
}

%sticky {
  align-self: flex-start;
  position: sticky;
  position: -webkit-sticky;
  top: 1.5rem;
}

%disableSelect {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

%colorTransition {
  @include transition(color 0.3s ease);
}

%allTransition {
  @include transition(all 0.3s);
}

%boxIcon {
  background: {
    repeat: no-repeat;
    size: 1.25rem;
    size: clamp(1.35rem, calc(1.2315rem + 0.5185vw), 1.25rem);
    position: left 1rem top 1rem;
    position: left clamp(1.15rem, calc(1.0648rem + -0.0648vw), 1rem) top 1em;
  }
  color: #3a4a68;
  padding-left: clamp(3.25rem, calc(3.1019rem + 0.6481vw), 3rem);
  position: relative;
}