@use 'mixins' as *;

%flex {
  display: flex;
}

%hide {
  display: none;
}

%grid {
  display: grid;
}

%block {
  display: block;
}

%image {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

%svg {
  width: 1.5rem;
  height: 1.5rem;
}

%circle {
  border-radius: 100px;
}

%bold {
  font-weight: 700;
}

%sticky {
  align-self: flex-start;
  position: sticky;
  position: -webkit-sticky;
  top: 1.5rem;
}

%disableSelect {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

%colorTransition {
  @include transition(color .3s ease);
}