//Font
$font-family: 'Google Sans Text', system-ui, -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Segoe UI', 'Oxygen-Sans', 'Helvetica Neue', Arial, sans-serif !default;
$font-size: 14px;
$font-weight: 400;
$line-height: 1.5rem;

//Color
$primary: purple !default;

$gap: 3rem !default;

