@use '../../abstracts/variables' as v;
@use '../../abstracts' as a;

.box {
  padding: 1rem 1.5rem;
  background-color: v.$bgShadow;
  @extend %breakPage;
  @extend %br7;
  @extend %allTransition;

  &.tips,
  &.warning,
  &.info {
    @extend %boxIcon;

    &::before {
      content: '';
      bottom: 0;
      height: calc(100% - (2.85rem + 1.25rem));
      position: absolute;
      left: clamp(1.75rem, calc(1.6759rem + 0.3241vw), 1.25rem);
      top: clamp(3rem, calc(2.35rem + 0.3241vw), 3.25rem);
      border-left: 1px solid;
    }
  }

  &.tips {
    background-color: #e7f2ff;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19,1L17.74,3.75L15,5L17.74,6.26L19,9L20.25,6.26L23,5L20.25,3.75M9,4L6.5,9.5L1,12L6.5,14.5L9,20L11.5,14.5L17,12L11.5,9.5M19,15L17.74,17.74L15,19L17.74,20.25L19,23L20.25,20.25L23,19L20.25,17.74' fill='%2300a7e6'/%3E%3C/svg%3E");
    &::before {
      border-left-color: #00a7e6;
    }
  }

  &.warning {
    background-color: #ffe7eb;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.2,16.06L3.88,12L2.2,7.94L6.26,6.26L7.94,2.2L12,3.88L16.06,2.2L17.74,6.26L21.8,7.94L20.12,12L21.8,16.06L17.74,17.74L16.06,21.8L12,20.12L7.94,21.8L6.26,17.74L2.2,16.06M13,17V15H11V17H13M13,13V7H11V13H13Z' fill='%23c00827'/%3E%3C/svg%3E");
    &::before {
      border-left-color: #c00827;
    }
  }
}
