@use '../abstracts/variables' as v;
@use '../abstracts' as a;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: v.$font-family;
  font-size: v.$font-size;
  font-weight: v.$font-weight;
  line-height: v.$line-height;
  @include a.transition(background-color .3s ease, color .3s ease)
}

body {
  @extend %mp-r;
  overflow-x: hidden;
  overflow-wrap: anywhere;
  text-rendering: optimizeLegibility;
}

.b {
  @extend %bold;
}

.f {
  @extend %flex;
}

.g {
  @extend %grid;
}

.h {
  @extend %hide;
}

.s {
  @extend %sticky;
}
