@use '../abstracts/variables' as *;
@use '../abstracts' as *;


a {
  text-decoration: none;
  @extend %allTransition;
}

a,
details,
summary,
select {
  @extend %clearFormChild;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Google Sans Text', Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.75rem;
  @extend %colorTransition;
}

h1,
h2,
h3,
h4,
h5,
b,
strong {
  @extend %bold;
}

img {
  @extend %image;
}

svg {
  @extend %iconSize;
}

circle, ellipse, line, path, polygon, polyline, rect {
  clip-rule: evenodd;
  fill: none;
  fill-rule: evenodd;
  stroke: $bodyText;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 1.25px;
  transition: stroke .3s ease;
}
